*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar-container{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 5px 10px 0 #aaa;
    opacity: 0.85;
    z-index: 999;
    justify-content: space-around;
    background-color: #fff;
}
.menu-items{
    margin-top: 6px;
    list-style: none;
    display: flex;
   
}
.menu-items a{
    color: palevioletred;
    margin: 4px;
    text-decoration: none;
}
.menu-items a:hover{
    color: black;
}
.showcase-area{
    background: url('./img/header-image2.jpg');
    background-size: cover;
    height: 50vh;
   

}
.showcase-container{
    color:white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}
 .btn-primary{
    border-radius: 24px;
    background-color: aqua;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    text-align: center;
    padding: .2rem;
    text-transform: uppercase;
    margin-top: .5rem;
    width: 55px;
    
 }
 #about{

    padding: 50px 0px;
     background-color: #f5f5f7;
}
#about .small{
    font-size: 1rem;
    color: #666;
    font-weight: 500;
}
.about-text{
    margin: auto;
    width: 400px;
    padding: 12px;
    transform: translateX(-150%);
    animation: xyz 1s ease-in-out forwards ;

}
@keyframes xyz{
    100%{
        transform: translate(0);
    }
}
.about-wrapper{
    display: flex;
}
.about-img{
    display: flex;
    padding: 30px;
    transform: translateX(150%);
    animation: xyx 1s ease-in-out forwards ;
}
@keyframes xyx{
    100%{
        transform: translate(0);
    }
}

.about-img img{
    height: 400px;
    width: 100%;
}
#food{
    padding: 5rem 0 10rem 0;
    width: 900px;
    margin: auto;
}
#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.food-container{
    display: flex;
    justify-content: space-between;
}

.food-container img{
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}
.img-container{
    margin: 0.1rem;
    position: relative;
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3{
    color: #fff;
    font-size: 1.3rem;
}

.img-content a{
    font-size: 1.2rem;
}
.img-container::after{
    content: '';
    display: block;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
}